<!doctype html>
{% load static %}
{% load crispy_forms_tags %}
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Online Pharmacy
        Buy Medicines Online
        Prescription Drugs
        Over-the-Counter Medications
        Health Supplements
        Pharmacy Near Me
        Affordable Medicines
        Prescription Refill
        Health and Wellness Products
        Medical Supplies
        MAMSPharmacy">
    <meta name="description" content="Your trusted online pharmacy for prescription and over-the-counter medications. Fast delivery, affordable prices, and a wide range of health products.
        Order medicines online with ease. We provide a variety of prescription drugs, health supplements, and medical supplies to meet all your health needs.
        Get your prescriptions refilled and buy over-the-counter medications online. Reliable, convenient, and affordable pharmacy services.
        Discover a wide range of health and wellness products at our online pharmacy. Quality medications and supplements delivered to your door.">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <link rel="icon" href="{% static 'images/falcon_LGfm6ox.png' %}">

    <title>
        MAMSPharmacy | Password Reset
    </title>
    <meta name="referrer" content="origin">
    <link id="u-theme-google-font" rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i|Palanquin+Dark:400,500,600,700">
    <link id="u-page-google-font" rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">


    <script type="application/ld+json">{
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "MAMSPharmacy",
        "url": "/",
        "logo": "{% static 'images/default-logo.png' %}"
    }</script>
    <meta name="theme-color" content="#1f2645">
    <meta property="og:title"
          content="MAMSPharmacy | Password Reset | Your Trusted Online Pharmacy | Buy Medicines & Health Products Online">
    <meta property="og:description" content="Your trusted online pharmacy for prescription and over-the-counter medications. Fast delivery, affordable prices, and a wide range of health products.
Order medicines online with ease. We provide a variety of prescription drugs, health supplements, and medical supplies to meet all your health needs.
Get your prescriptions refilled and buy over-the-counter medications online. Reliable, convenient, and affordable pharmacy services.
Discover a wide range of health and wellness products at our online pharmacy. Quality medications and supplements delivered to your door.">
    <meta property="og:type" content="website">

    <meta property="og:image" content="https://yourpharmacywebsite.com/images/your-image.jpg">
    <meta property="og:url" content="https://yourpharmacywebsite.com">
    <meta property="og:site_name" content="MAMSPharmacy">

</head>

<style>
    body{

        margin-top: 2rem;
    }

    @media (min-width: 48em) {

    .box-element{
        box-shadow:hsl(0, 0%, 80%) 0 0 16px;
        background-color: #fff;
        border-radius: 4px;
        padding: 45px;
    }
    }
    @media only screen and (max-width: 600px) {
    .box-element{
        border-radius: 4px;
        padding: 3px;
        }
    }
</style>
<body>

<div class="container" align="center">
    <div class="col-lg-5">
        <img src="{% static 'images/falcon_LGfm6ox.png' %}"
             class="brand-logo mb-4" width="60" height="60"
             alt="">
        <br>
        <style>
            .col-lg-12 {
                padding: 5px;
            }
        </style>
        <div style="border-radius: 3px;margin-bottom: 20px; margin-top: 3px;"
             class="box-element rounded overflow-hidden ">

            <div class="d-flex flex-column position-static">
                <form id="login-form" method="POST" action="">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <h3 class=" mb-4" style="margin-bottom: 2px;"><strong>Reset Password</strong>
                        </h3>
                        <hr>
                        <div class="alert alert-secondary">
                            <p>Yes, it is normal to forget passwords but we have got you</p>
                            <p class="mb-3">Enter your email address below, and we'll send you an email allowing you to
                                reset it.</p>
                        </div>
                        {{ form|crispy }}
                    </fieldset>

                    <button style="background-color: #004d6e !important" id="submit" type="submit"
                            class="btn btn-block btn-info">
                        <div class="spinner-border text-light hidden" id="spinner" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                        <span id="button-text">Request password reset</span>
                    </button>
                    <style>
                        .spinner-border {
                            width: 1.5rem;
                            height: 1.5rem;
                        }
                    </style>
                </form>

            </div>
            <hr>
            <p>Remember password?</p>
            <a style="background-color: #004d6e !important"
               href="{% url 'login' %}" class="btn btn-info btn-block">Login</a>

        </div>

    </div>
    <a href="javascript:history.go(-1)" class="btn mt-2 mb-3 btn-outline-info">&#x2190; Go back</a>

</div>

<style>
    .hidden {
        display: none;
    }
    label {
        float:left
    }
    .btn-outline-info {
        color: #004d6e !important;
        border: 1px solid #004d6e !important;
        border-radius: 3px !important;
    }
    .btn-outline-info:hover {
        color: #fff !important;
        background: #004d6e !important;
        border-color: #004d6e !important;
    }
</style>
<script>
    let paymentForm = document.getElementById('login-form');
	if (paymentForm) {
		paymentForm.addEventListener('submit', function () {
		    console.log("login button clicked");
			changeLoadingState(true);

	    }
	  );
	}

    var changeLoadingState = function(isLoading) {
        if (isLoading) {
            document.getElementById("submit").disabled = true;
            document.querySelector("#spinner").classList.remove("hidden");
            document.querySelector("#button-text").classList.add("hidden");
        } else {
            document.getElementById("submit").disabled = false;
            document.querySelector("#spinner").classList.add("hidden");
            document.querySelector("#button-text").classList.remove("hidden");
        }
    };

</script>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>