{% extends 'products/base.html' %}
{% load static %}
{% load humanize %}

{% load crispy_forms_tags %}
{% block title %} MAMSPharmacy | {{request.user}} profile {% endblock %}
{% block name %} MAMSPharmacy | {{request.user}} profile {% endblock %}
{% block content %}
<script src="https://unpkg.com/htmx.org@1.5.0"></script>


<section class="u-clearfix u-lightbox u-section-1" id="sec-16e0">
    <div style="background-color: #009649!important;"
         class="py-5 u-container-style u-custom-color-3 u-expanded-width u-group u-group-1">
        <div class="u-container-layout u-valign-middle u-container-layout-1">
            <h3 class="u-text u-text-default u-text-1 mt-2">
                {% if 0 >= now %}
                Good morning,
                {% elif now < 11.1 %}
                Good morning,
                {% elif 12 >= now %}
                Good afternoon,
                {% elif now < 15.1 %}
                Good afternoon,
                {% elif 16 >= now %}
                Good evening,
                {% elif now < 19.1 %}
                Good evening,
                {% elif 20 >= now %}
                Good night,
                {% elif now < 23.1 %}
                Good night,
                {% endif %}
                {% if request.user.first_name %}
                {{ request.user.first_name }} 😉!
                {% elif request.user.email %}
                {{ request.user.email }}😉! {% endif %}</h3>
        </div>
    </div><!--products--><!--products_options_json--><!--{"type":"Recent","source":"","tags":"","count":""}-->
    <!--/products_options_json-->
    <div class="custom-expanded u-layout-grid u-pagination-center u-products u-sorting-right u-products-1"
         data-site-sorting-prop="created" data-site-sorting-order="desc" data-products-datasource="site"
         data-items-per-page="4" data-products-id="1">

        <div class="row">

            <div class="col-lg-9 mt-3" id="user-orders">
                <form action="{% url 'users_profile' %}" method="post">
                    {% csrf_token %}
                    {{ form.email }}
                    {{ form.first_name }}
                    {{ form.address }}
                    {{ form.phone_number }}
                    {{ form.captcha }}
                    {% for error in form.captcha.error %}
                    <p class="text-danger">{{ error }}</p>
                    {% endfor %}
                    <button id="submit" type="submit" class="u-active-custom-color-5 u-border-2 u-border-grey-dark-1 u-border-no-left
                           u-border-no-right u-border-no-top u-btn u-btn-rectangle u-btn-submit u-button-style
                           u-custom-color-3 u-hover-custom-color-5 u-btn-4"
                            style="background-color: #009649 !important;">
                        <div class="spinner-border text-light hidden" id="spinner" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>

                        <span id="button-text">SAVE CHANGES</span>
                    </button>
                    <style>
                        .hidden {
                            display: none;
                        }
                        .spinner-border {
                            width: 1.5rem;
                            height: 1.5rem;
                        }
                    </style>
                </form>
                <br>
                {% if products %}
                <section
                        class="u-align-center u-clearfix u-container-align-center-lg u-container-align-center-md u-container-align-center-sm u-container-align-center-xs u-section-2"
                        id="carousel_3f3f">
                    <div class="u-clearfix u-sheet u-sheet-1">
                        <br>
                        <br>
                        <h3>Recommended Products</h3>
                        <!--products--><!--products_options_json-->
                        <!--{"type":"Recent","source":"","tags":"","count":""}-->
                        <!--/products_options_json-->
                        <div class="u-expanded-width u-products u-products-1" data-site-sorting-prop="created"
                             data-site-sorting-order="desc" data-items-per-page="4" data-products-datasource="site"
                             data-products-id="1">
                            <div class="u-list-control"></div>
                            <div class="u-repeater u-repeater-1">
                                <!--product_item-->
                                {% for product in products %}
                                <div class="u-align-center u-container-align-center-md u-container-align-center-sm u-container-align-center-xs u-container-align-left-lg u-container-align-left-xl u-container-style u-products-item u-repeater-item"
                                     data-product-id="4">
                                    <div class="u-container-layout u-similar-container u-container-layout-1">
                                        <!--product_image-->
                                        <a class="u-product-title-link" href="{{product.get_absolute_url}}">
                                            <img alt=""
                                                 class="u-expanded-width u-image u-image-contain u-image-default u-product-control lazyload u-image-1"
                                                 data-image-width="1900"
                                                 data-image-height="2000"
                                                 data-src="{{product.image.url}}"
                                                 src="{{product.image.url}}">
                                        </a>
                                        <!--/product_image--><!--product_title-->
                                        <h4 class="u-align-center-md u-align-center-sm u-align-center-xs u-align-left-lg u-align-left-xl u-product-control u-text u-text-2">
                                            <a class="u-product-title-link text-truncate"
                                               href="{{product.get_absolute_url}}">{{product.name}}</a>
                                        </h4><!--/product_title--><!--product_price-->
                                        <div class="u-align-center-md u-align-center-sm u-align-center-xs u-align-left-lg u-align-left-xl u-product-control u-product-price u-product-price-1"
                                             data-add-zero-cents="true">
                                            <div class="u-price-wrapper u-spacing-10"><!--product_old_price-->
                                                <div class="u-hide-price u-old-price"
                                                     style=" text-decoration: line-through !important;">$25.00
                                                </div><!--/product_old_price--><!--product_regular_price-->
                                                <div class="u-price" style="font-size: 1.5rem; font-weight: 600;">
                                                    ₦{{product.price}}
                                                </div>
                                                <!--/product_regular_price-->
                                            </div>
                                        </div><!--/product_price-->
                                    </div>
                                </div><!--/product_item--><!--product_item-->
                                {% endfor %}
                            </div>
                            <div class="u-list-control"></div>
                        </div><!--/products-->
                    </div>
                </section>
                {% endif %}
            </div>
            <br>

            <div class="col-lg-3 ">
                <!--            <div class="sticky-top" style="top: 9px">-->
                <div class="box-element" style="background-color:#fff !important">

                    <a class="list-item my-1 text-dark text-decoration-none"
                       href="{% url 'users_profile' %}">
                        <h6>Account Details</h6>
                        <hr>
                    </a>
                    <a class="list-item my-1 text-dark text-decoration-none"
                       hx-get="{% url 'user_orders' %}" role="button"
                       hx-target="#user-orders">
                        <h6>Orders</h6>
                        <hr>
                    </a>
                    <a class="list-item my-1 text-dark text-decoration-none"
                       hx-get="{% url 'user_notifications' %}" role="button"
                       hx-target="#user-orders">
                        <h6>Notifications</h6>
                        <hr>
                    </a>
                    <a class="list-item my-1 text-dark text-decoration-none"
                       href="{% url 'logout' %}">
                        <h6>Logout</h6>
                    </a>
                </div>

                <br>

                <br>
                <br>
                <br>
            </div>

        </div>
        <div class="u-list-control"></div>
    </div><!--/products-->

</section>

<style>
    .hide {
        display: none;
    }
    .box-element, .dropdown-menu{
        box-shadow:hsl(0, 0%, 80%) 0 0 16px;
        background-color: ;
        border-radius: 4px;
        padding: 8px;
    }
    .btn-outline-blue {
        color: #009649; !important;
        border: 1px solid #009649; !important;
        border-radius: 3px !important;
    }
    .btn-outline-blue:hover {
        color: #fff !important;
        background: #009649; !important;
        border-color: #009649; !important;
    }
</style>
{% endblock %}
