{% load static %}

<script src="https://unpkg.com/htmx.org@1.4.1"></script>
<form method="post" hx-post="{% url 'productReview' product.id %}"
      style="padding: 10px;" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form"
      hx-target="#reviews" hx-swap="innerHTML">
    {% csrf_token %}
    {{ form.rating }}
    {{ form.message }}
    {{ form.captcha }}
    {% for error in form.captcha.error %}
    <p>{{ error }}</p>
    {% endfor %}
    {% if request.user.is_authenticated %}
    <div class="u-align-left u-form-group u-form-submit">
        <button type="submit" style="background-color: #009649!important;" class="u-btn u-btn-submit u-button-style">Submit Review</button>
    </div>
    {% else %}
    <div class="u-align-left u-form-group u-form-submit">
        <a href="{% url 'login' %}" style="background-color: #009649!important;" class="u-btn u-btn-submit u-button-style">Submit Review</a>
    </div>
    {% endif %}
</form>

