{% extends 'products/base.html' %}
{% load static %}
{% load humanize %}

{% load crispy_forms_tags %}
{% block title %} MAMSPharmacy | Cart & Checkout {% endblock %}
{% block name %} MAMSPharmacy | Cart & Checkout {% endblock %}
{% block content %}
<!--<script src="https://js.paystack.co/v1/inline.js"></script>-->

<section class="u-clearfix u-lightbox u-section-1" id="sec-16e0">
    <div class="py-5 u-container-style u-custom-color-3 u-expanded-width u-group u-group-1">
        <div class="u-container-layout u-valign-middle u-container-layout-1">
            <h3 class="u-text u-text-default u-text-1">
                Cart & Checkout</h3>
        </div>
    </div><!--products--><!--products_options_json--><!--{"type":"Recent","source":"","tags":"","count":""}-->
    <!--/products_options_json-->
    <div class="custom-expanded u-layout-grid u-pagination-center u-products u-sorting-right u-products-1"
         data-site-sorting-prop="created" data-site-sorting-order="desc" data-products-datasource="site"
         data-items-per-page="4" data-products-id="1">

        <div class="row">

            <div class="col-lg-9 mt-3">
                <a href="{% url 'products' %}"
                   class="btn mb-3 ">Continue
                    browsing
                </a>
                <br>
                {% if items %}
                <section>
                    <div class="cart-row d-md-flex d-none">
                        <div style="flex:4;opacity: .7" class="mr-2">
                            <h5 class="text-muted">ITEM</h5>
                        </div>
                        <div style="flex:4;opacity: .7"></div>
                        <div style="flex:2;opacity: .7"></div>

                        <div style="flex:4;opacity: .7"><h5 class="text-muted">PRICE</h5></div>
                        <div style="flex:5;opacity: .7"><h5 class="text-muted">QUANTITY</h5></div>
                        <div style="flex:4;opacity: .7">
                            <h5 class="text-muted">TOTAL</h5>
                        </div>
                    </div>

                    {% for item in items %}
                    <div class="box-element" style="background-color:#fff !important">
                        <div class="cart">
                            <div class="cart-body">
                                <div class="cart-item">
                                    <div class="d-flex align-items-center text-left text-md-center row">
                                        <div class="col-12 col-md-5">
                                            <a class="cart-remove close mt-3 d-md-none update-cart"
                                               data-toggle="tooltip"
                                               title="Remove from Cart" data-placement="left"
                                               data-product="{{ item.product.id }}" data-action="delete" href="#">X</a>
                                            <div class="d-flex align-items-center">
                                                <a href="{% url 'product-detail' item.product.id %}">
                                                    {% if item.product.productimage_set.all %}

                                                    {% for product_image in item.product.productimage_set.all %}
                                                    {% if forloop.first %}
                                                    <img height="70px" width="70px" src="{{ product_image.image.url }}"
                                                         alt=""
                                                         class="row-ima">
                                                    {% endif %}

                                                    {% endfor %}

                                                    {% else %}

                                                    <img height="70px" width="70px" src="{{ item.product.image.url }}"
                                                         alt=""
                                                         class="row-ima">{% endif %}
                                                </a>
                                                <div class="cart-title text-left"
                                                     style="overflow-wrap: break-word !important;">
                                                    <a class="text-dark link-animated"
                                                       style="overflow-wrap: break-word;"
                                                       href="{% url 'product-detail' item.product.id %}">
                                                        <strong style="overflow-wrap: break-word;">
                                                            {{ item.product.name }}
                                                        </strong>
                                                    </a>
                                                    <br>
                                                </div>
                                                <style>

                                                    .cart-title {
                                                        margin-left: 1rem;
                                                        overflow-wrap: break-word;

                                                    }
                                                    .text-left {
                                                        text-align: left!important;
                                                    }
                                                    .cart-remove {
                                                        color: #495057;
                                                        font-size: .975rem;
                                                        transition: .4s;
                                                    }
                                                    .cart-remove:hover {
                                                        color: #495057;
                                                        font-size: 1.2rem;

                                                    }
                                                    .link-animated {
                                                        position: relative;
                                                        text-decoration: none;
                                                    }
                                                    .text-dark {
                                                        color: #212529!important;
                                                    }
                                                    .text-sm {
                                                        font-size: .875rem;
                                                    }
                                                    .text-muted {
                                                        color: #868e96!important;
                                                    }

                                                    .text-center {
                                                        text-align: center!important;
                                                    }
                                                    .border-0 {
                                                        border: 0!important;
                                                    }
                                                </style>
                                            </div>
                                        </div>
                                        <div class="mt-4 mt-md-0 col-12 col-md-7">
                                            <div class="align-items-center row">
                                                <div class="col-md-3">
                                                    <div class="row">
                                                        <div class="d-md-none text-muted col-6">Price per item</div>
                                                        <b class="text-right text-md-center col-6 col-md-12">
                                                            ₦{{ item.product.price|floatformat:'2'|intcomma }}
                                                        </b>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="align-items-center row">
                                                        <div class="text-muted d-md-none col-7 col-sm-9">Quantity</div>
                                                        <div class="col-5 col-sm-3 col-md-12">
                                                            <div class="d-flex align-items-center">
                                                                {% if item.quantity > 1 %}
                                                                <a href="{% url 'remove_from_checkout' item.product.pk %}"
                                                                   class="text-decoration-none btn-sm btn-secondary update-cart">
                                                                    <b>-</b>
                                                                </a>
                                                                {% else %}
                                                                <button disabled data-product="{{ item.product.id }}"
                                                                        data-href="{% url 'remove_from_checkout' item.product.pk %}"
                                                                        class="text-decoration-none btn-sm btn-secondary update-cart">
                                                                    <b>-</b>
                                                                </button>
                                                                {% endif %}
                                                                <b class="text-center border-0 border-md input-items form-control">
                                                                    {{ item.quantity }}
                                                                </b>
                                                                <a href="{% url 'add_to_checkout' item.product.pk %}"
                                                                   class="update-cart text-decoration-none btn-sm btn-secondary">
                                                                    <b>+</b>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="row">
                                                        <div class="d-md-none text-muted col-6">Total price</div>
                                                        <b class="text-right text-md-center col-6 col-md-12">
                                                            ₦{{ item.get_total|floatformat:'2'|intcomma }}
                                                            <br>
                                                            <small>₦{{ item.product.price|floatformat:'2'|intcomma }} x
                                                                {{ item.quantity }}</small>
                                                        </b>
                                                    </div>
                                                </div>
                                                <div class="d-md-block d-none text-center col-2"
                                                     data-toggle="tooltip" title="Remove from Cart"
                                                     data-placement="top">
                                                    <a class="cart-remove text-muted update-cart"
                                                       href="{% url 'delete_from_checkout' item.product.pk  %}">
                                                        <svg width="2em" height="2em" viewBox="0 0 16 16"
                                                             class="bi bi-trash"
                                                             fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                                            <path fill-rule="evenodd"
                                                                  d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                                        </svg>
                                                    </a>
                                                </div>
                                                <hr>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <br>
                    {% endfor %}

                </section>
                <br>

                <section>
                    <h5><b>Delivery address</b></h5>
                    <br>
                    <div class="box-element">
                        <form action="" method="post" id="FormAddress">
                            {% csrf_token %}
                            {{ form | crispy }}
                        </form>
                    </div>
                    <br>
                </section>
                {% else %}
                <h2><b>Nothing to see here!</b></h2>
                <br>
                <a style="letter-spacing: 0.2em; font-weight: bold;
                    text-transform: uppercase" class="btn btn-outline-blue" href="{% url 'products' %}">
                    Start shopping</a>
                {% endif %}
            </div>
            <div class="col-lg-3 ">
                <!--            <div class="sticky-top" style="top: 9px">-->
                <div class="box-element"
                     style="background-color:#fff !important;
                     word-wrap: break-word !important;overflow: hidden;">
                    <h5><b>Order Summary</b></h5>
                    <style>
                        .card-header:first-child {
                                border-radius: 5px 5px 0 0;
                            }
                        .card-header {
                            padding: .75rem 1.25rem;
                            margin-bottom: 0;
                            background-color: rgba(0,0,0,.03);
                            border-bottom: 0 solid transparent;
                        }
                    </style>
                    <table class="table table-hover ">
                        <tr>
                            <th><h5>Items: </h5></th>
                            <th><h5>{{ get_cart_items }}</h5></th>
                        </tr>

                        <tr>
                            <th><h5 class="mt-2">Subtotal: </h5></th>
                            <th><h5 class="mt-2">₦{{ get_cart_total|floatformat:2|intcomma }}</h5></th>
                        </tr>
                        <tr>
                            <th><h5 class="mt-2">Summary: </h5></th>
                            <th><h5 id="totalAmount" class="mt-2">
                                ₦{{ get_cart_total|floatformat:2|intcomma }}</h5></th>
                        </tr>
                    </table>
                    <hr>
                    <li class="text-muted">Shipping and additional costs are calculated based on values you have
                        entered.
                    </li>
                    <li class="text-muted">
                        Free delivery for goods over ₦50,000.
                    </li>
                    <br>
                    {% if items|length > 0 %}
                    <a type="submit" id="make-paystack-payment"
                       class="btn py-3 btn-block">
                        <div class="spinner-border text-light hide" id="spinner" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                        <span style="letter-spacing: 0.2em;
                            text-transform: uppercase;
                            color: #fff;
                            font-weight: bold;" id="button-text">CHECKOUT</span>
                    </a>
                    <style>
                        .spinner-border {
                            width: 1.5rem;
                            height: 1.5rem;
                        }
                        .btn{
                            background: #004d6e;
                            border-color: #004d6e;
                            color: #fff;
                        }
                        .btn:hover{
                            background: #003952;
                            border-color: #003952;
                            color: #fff;
                        }
                    </style>
                    {% endif %}
                </div>

                <br>

                <br>
                <br>
                <br>
            </div>

        </div>
        <div class="u-list-control"></div>
    </div><!--/products-->

</section>

<!-- Include the Algolia Places JavaScript library -->
<script src="https://cdn.jsdelivr.net/npm/places.js@1.19.2/dist/cdn/places.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var input = document.getElementById('div_id_address');
        var places = window.places({
            appId: '{{ ALGOLIA_APP_ID }}',
            apiKey: '{{ ALGOLIA_API_KEY }}',
            container: input,
            countries: ['NG'] // Restrict to Nigeria
        });

        places.on('change', function (e) {
            // You can handle additional fields from the e.suggestion object if needed
            console.log(e.suggestion);
        });
    });
</script>

<style>
    .hide {
        display: none;
    }
    .box-element, .dropdown-menu{
        box-shadow:hsl(0, 0%, 80%) 0 0 16px;
        background-color: ;
        border-radius: 4px;
        padding: 8px;
    }
    .btn-outline-blue {
        color: #004d6e; !important;
        border: 1px solid #004d6e; !important;
        border-radius: 3px !important;
    }
    .btn-outline-blue:hover {
        color: #fff !important;
        background: #004d6e; !important;
        border-color: #004d6e; !important;
    }
</style>

<script>
document.getElementById('make-paystack-payment').addEventListener('click', function(event) {
    event.preventDefault();
    var button = document.getElementById('make-paystack-payment');
    var spinner = document.getElementById('spinner');
    var buttonText = document.getElementById('button-text');

    // Disable the button
    button.setAttribute('disabled', 'disabled');
    button.classList.add('disabled');

    // Show the spinner
    spinner.classList.remove('hide');
    spinner.classList.add('show');

    // Optionally hide the text or change it
    buttonText.innerText = 'Processing...';

    // Proceed with payment initialization
    submitPayment();
});

document.getElementById('FormAddress').addEventListener('submit', function(event) {
    event.preventDefault();
    submitPayment();
});

function submitPayment() {
    //const address = document.getElementById('my-address').value;
    //if (!address) {
        //alert('Address is required.');
       // return;
    //}

    const form = document.getElementById('FormAddress');

      // Check form validity before proceeding
      if (!form.checkValidity()) {
        const firstInvalid = form.querySelector(':required:invalid');
        if (firstInvalid) {
          firstInvalid.focus();
          return; // Prevent opening Paystack if form is invalid
        }
      }

    const totalAmount = document.getElementById('totalAmount').innerText;
    const address = document.getElementById('my-address').value;

    fetch("{% url 'initialize_payment' %}", {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': '{{ csrf_token }}'
        },
        body: JSON.stringify({
            address: address,
            amount: {{ get_cart_total }}
        })
    }).then(response => response.json())
      .then(data => {
          if (data.redirect_url) {
              window.location.href = data.redirect_url;
          } else {
              alert('Payment initialization failed');
          }
      });
}
</script>
{% endblock %}
