{% extends 'products/base.html' %}
{% load static %}

{% load humanize %}
{% block title %} MAMSPharmacy | Products {% endblock %}
{% block name %} MAMSPharmacy | Products {% endblock %}
{% block content %}

<section class="u-clearfix u-lightbox u-section-1" id="sec-16e0">
    <div class="py-5 u-container-style u-custom-color-3 u-expanded-width u-group u-group-1">
        <div class="u-container-layout u-valign-middle u-container-layout-1">
            <h3 class="u-text u-text-default u-text-1">Product Categories</h3>
        </div>
    </div><!--products--><!--products_options_json--><!--{"type":"Recent","source":"","tags":"","count":""}-->
    <!--/products_options_json-->
    <div class="custom-expanded u-layout-grid u-pagination-center u-products u-sorting-right u-products-1"
         data-site-sorting-prop="created" data-site-sorting-order="desc" data-products-datasource="site"
         data-items-per-page="4" data-products-id="1">
        {% if products|length > 0 %}
        <div class="has-sorting u-list-control"><!--products_sorting-->
            <div class="u-sorting">
                <select class="form-control" hx-get="{% url 'filter_products' %}"
                        hx-target="#product-list"
                        name="sort_by" id="sort-by">
                    <option value="product-purchase">Best Sellers</option>
                    <option value="created-desc">New Products</option>
                    <option value="price-asc">Price, Low to High</option>
                    <option value="price-desc">Price, High to Low</option>
                </select>
                <svg class="u-caret u-caret-svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                     xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="16px" height="16px"
                     viewBox="0 0 16 16" style="fill:currentColor;" xml:space="preserve"><polygon class="st0" points="8,12 2,4 14,4 "></polygon></svg>
            </div><!--/products_sorting-->
        </div>

        <div class="row">
            <div class="col-lg-3 phone_size">
                <div class="u-sticky" style="top:0">
                    <div class="card shadow p-3">
                        <h5><b>Categories</b></h5>
                        <hr>
                        <a class="text-decoration-none" href="/products/">
                            <h6>All products</h6>

                            <hr>
                        </a>
                        {% for category in categories %}
                        <a class="list-item my-1 text-dark text-decoration-none"
                           href="/products/?category_name={{ category.name }}">
                            <h6>{{ category }}</h6>
                            <hr>
                        </a>
                        {% endfor %}

                        <br>
                        <h5><b>Price Range</b></h5>
                        <hr>
                        <form value="{{request.GET.min_price}}&{{request.GET.max_price}}" method="get">
                            <div class="range_container">
                                <div class="sliders_control">
                                    <input id="fromSlider" type="range" name="min_price"
                                           value="{% if request.GET.min_price %}{{request.GET.min_price}}{% else %}1000{% endif %}"
                                           min="0" max="{{maximum_price.price__max}}"/>
                                    <input id="toSlider" type="range" name="max_price"
                                           value="{% if request.GET.max_price %}{{request.GET.max_price}}{% else %}{{half_max_price}}{% endif %}"
                                           min="0" max="{{maximum_price.price__max}}"/>
                                </div>
                                <div class="form_control">
                                    <div class="form_control_container">
                                        <div class="form_control_container__time"><b>Min Price</b></div>
                                        <input class="form_control_container__time__input" type="number"
                                               name="min_price"
                                               id="fromInput"
                                               value="{% if request.GET.min_price %}{{request.GET.min_price}}{% else %}1000{% endif %}"
                                               min="0" max="{{maximum_price.price__max}}"/>
                                    </div>
                                    <div class="form_control_container">
                                        <div class="form_control_container__time"><b>Max Price</b></div>
                                        <input class="form_control_container__time__input" name="max_price"
                                               type="number"
                                               id="toInput"
                                               value="{% if request.GET.max_price %}{{request.GET.max_price}}{% else %}{{half_max_price}}{% endif %}"
                                               min="0" max="{{maximum_price.price__max}}"/>
                                    </div>
                                </div>
                                <br>
                                <div class="autocomplete">
                                    <input type="submit" class="btn btn-info btn-block" name="range-value"
                                           value="Filter"/>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="row" id="product-list">
                    <!--product_item-->
                    {% for product in products %}
                    <div class="col-lg-4 col-md-6 mb-2 col-12">
                        <div class="u-align-center u-container-align-center u-container-style u-products-item u-repeater-item"
                             data-product-id="4">
                            <div class="u-container-layout u-similar-container u-valign-top u-container-layout-2">
                                <!--product_image-->
                                <a class="u-product-title-link" href="{{product.get_absolute_url}}">
                                    <img alt="{{product.name|truncatewords:3}}"
                                         class="u-expanded-width u-image u-image-contain u-image-default
                             u-product-control lazyload u-image-1"
                                         data-src="{{product.image.url}}"
                                         src="{{product.image.url}}"></a>
                                <!--/product_image--><!--product_title-->
                                <h4 class="u-align-center u-product-control u-text u-text-default u-text-2">
                                    <a class="u-product-title-link" href="{{product.get_absolute_url}}">
                                        {{product.name|truncatewords:3}}</a>
                                </h4><!--/product_title--><!--product_price-->
                                <div class="u-align-center u-product-control u-product-price u-product-price-1"
                                     data-add-zero-cents="true">
                                    <a href="{{product.get_absolute_url}}" class="text-decoration-none">
                                    <div class="u-price-wrapper u-spacing-10"><!--product_old_price-->
                                        <!--                            <div class="u-old-price" style="text-decoration: line-through !important;">₦{{product.price}}</div>-->
                                        <!--/product_old_price--><!--product_regular_price-->
                                        <div class="u-price u-text-custom-color-5"
                                             style="font-size: 1.25rem; font-weight: 700;">
                                            ₦{{product.price|floatformat:2|intcomma}}
                                        </div><!--/product_regular_price-->
                                    </div></a>
                                </div><!--/product_price--><!--product_button--><!--options_json-->
                                <!--{"clickType":"buy-now","content":""}--><!--/options_json-->
                                {% if request.user.is_authenticated %}
                                <a hx-get="{% url 'product_detail_modal' product.id %}"
                                   hx-target="#product-modal .modal-content"
                                   data-toggle="modal"
                                   data-target="#product-modal"
                                   class="u-align-center u-btn u-button-style u-hover-feature u-none
                               u-product-control u-btn-1">
                                    <!--product_button_content-->Add to Cart<!--/product_button_content-->
                                </a>
                                {% else %}
                                <a href="{{product.get_absolute_url}}"

                                   class="u-align-center u-btn u-button-style u-hover-feature u-none
                               u-product-control u-btn-1">
                                    <!--product_button_content-->Add to Cart<!--/product_button_content-->
                                </a>
                                {% endif %}
                                <!--/product_button-->
                            </div>
                        </div><!--/product_item--><!--product_item-->
                    </div><!--/product_item--><!--product_item-->
                    {% endfor %}
                </div>
                <br>
                <div class="row">
                    <div class="col"></div>
                    <div class="col-auto">
                        {% if products.has_other_pages %}
                        <div class="container mt-2" align="center">
                            {% for num in products.paginator.page_range %}
                            {% if products.number == num %}
                            <a class="btn-sm btn-info mb-7" href="?page={{ num }}">{{ num }}</a>
                            {% elif num > products.number|add:'-3' and num < products.number|add:'3' %}
                            <a class="btn-sm  btn-outline-info mb-7" href="?page={{ num }}">{{ num }}</a>
                            {% endif %}
                            {% endfor %}
                        </div>
                        {% endif %}
                        <style>
                            .btn-outline-info {
                                color: #004d6e; !important;
                                border: 1px solid #004d6e; !important;
                                border-radius: 3px !important;
                            }
                            .btn-outline-info:hover {
                                color: #fff !important;
                                background: #004d6e; !important;
                                border-color: #004d6e; !important;
                            }
                            .btn-info{
                                background: #004d6e; !important;
                                border-color: #004d6e; !important;
                                border: 1px solid #004d6e; !important;
                                color: #fff !important;
                            }
                            .btn-info:hover{
                                background: #003952 !important;
                                border-color: #003952 !important;
                                color: #fff !important;
                            }
                            .btn-sm {
                                padding: .5rem;
                            }
                            .range_container {
                              display: flex;
                              flex-direction: column;
                              width: 90%;
                              margin: 15% auto;
                            }

                            .sliders_control {
                              position: relative;
                              min-height: 50px;
                            }

                            .form_control {
                              position: relative;
                              display: flex;
                              justify-content: space-between;

                            }

                            input[type=range]::-webkit-slider-thumb {
                              -webkit-appearance: none;
                              pointer-events: all;
                              width: 24px;
                              height: 24px;
                              background-color: #fff;
                              border-radius: 50%;
                              box-shadow: 0 0 0 1px #C6C6C6;
                              cursor: pointer;
                            }

                            input[type=range]::-moz-range-thumb {
                              -webkit-appearance: none;
                              pointer-events: all;
                              width: 24px;
                              height: 24px;
                              background-color: #fff;
                              border-radius: 50%;
                              box-shadow: 0 0 0 1px #C6C6C6;
                              cursor: pointer;
                            }

                            input[type=range]::-webkit-slider-thumb:hover {
                              background: #f7f7f7;
                            }

                            input[type=range]::-webkit-slider-thumb:active {
                              box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
                              -webkit-box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
                            }

                            input[type="number"] {
                              width: 100px;
                              height: 22px;
                              font-size: 17px;
                            }

                            input[type=number]::-webkit-inner-spin-button,
                            input[type=number]::-webkit-outer-spin-button {
                               opacity: 1;
                            }

                            input[type="range"] {
                              -webkit-appearance: none;
                              appearance: none;
                              height: 2px;
                              width: 100%;
                              position: absolute;
                              background-color: #C6C6C6;
                              pointer-events: none;
                            }

                            #fromSlider {
                              height: 0;
                              z-index: 1;
                            }

                        </style>
                        <script>
                            function controlFromInput(fromSlider, fromInput, toInput, controlSlider) {
                            const [from, to] = getParsed(fromInput, toInput);
                            fillSlider(fromInput, toInput, '#C6C6C6', '#bcac76;', controlSlider);
                            if (from > to) {
                                fromSlider.value = to;
                                fromInput.value = to;
                            } else {
                                fromSlider.value = from;
                            }
                            }

                            function controlToInput(toSlider, fromInput, toInput, controlSlider) {
                                const [from, to] = getParsed(fromInput, toInput);
                                fillSlider(fromInput, toInput, '#C6C6C6', '#bcac76;', controlSlider);
                                setToggleAccessible(toInput);
                                if (from <= to) {
                                    toSlider.value = to;
                                    toInput.value = to;
                                } else {
                                    toInput.value = from;
                                }
                            }

                            function controlFromSlider(fromSlider, toSlider, fromInput) {
                              const [from, to] = getParsed(fromSlider, toSlider);
                              fillSlider(fromSlider, toSlider, '#C6C6C6', '#bcac76;', toSlider);
                              if (from > to) {
                                fromSlider.value = to;
                                fromInput.value = to;
                              } else {
                                fromInput.value = from;
                              }
                            }

                            function controlToSlider(fromSlider, toSlider, toInput) {
                              const [from, to] = getParsed(fromSlider, toSlider);
                              fillSlider(fromSlider, toSlider, '#C6C6C6', '#bcac76;', toSlider);
                              setToggleAccessible(toSlider);
                              if (from <= to) {
                                toSlider.value = to;
                                toInput.value = to;
                              } else {
                                toInput.value = from;
                                toSlider.value = from;
                              }
                            }

                            function getParsed(currentFrom, currentTo) {
                              const from = parseInt(currentFrom.value, 10);
                              const to = parseInt(currentTo.value, 10);
                              return [from, to];
                            }

                            function fillSlider(from, to, sliderColor, rangeColor, controlSlider) {
                                const rangeDistance = to.max-to.min;
                                const fromPosition = from.value - to.min;
                                const toPosition = to.value - to.min;
                                controlSlider.style.background = `linear-gradient(
                                  to right,
                                  ${sliderColor} 0%,
                                  ${sliderColor} ${(fromPosition)/(rangeDistance)*100}%,
                                  ${rangeColor} ${((fromPosition)/(rangeDistance))*100}%,
                                  ${rangeColor} ${(toPosition)/(rangeDistance)*100}%,
                                  ${sliderColor} ${(toPosition)/(rangeDistance)*100}%,
                                  ${sliderColor} 100%)`;
                            }

                            function setToggleAccessible(currentTarget) {
                              const toSlider = document.querySelector('#toSlider');
                              if (Number(currentTarget.value) <= 0 ) {
                                toSlider.style.zIndex = 2;
                              } else {
                                toSlider.style.zIndex = 0;
                              }
                            }

                            const fromSlider = document.querySelector('#fromSlider');
                            const toSlider = document.querySelector('#toSlider');
                            const fromInput = document.querySelector('#fromInput');
                            const toInput = document.querySelector('#toInput');
                            fillSlider(fromSlider, toSlider, '#C6C6C6', '#bcac76;', toSlider);
                            setToggleAccessible(toSlider);

                            fromSlider.oninput = () => controlFromSlider(fromSlider, toSlider, fromInput);
                            toSlider.oninput = () => controlToSlider(fromSlider, toSlider, toInput);
                            fromInput.oninput = () => controlFromInput(fromSlider, fromInput, toInput, toSlider);
                            toInput.oninput = () => controlToInput(toSlider, fromInput, toInput, toSlider);
                        </script>

                    </div>
                </div>
            </div>

        </div>
        <div class="u-list-control"></div>
        {% else %}
        <br>
        <div align="center" class="failed_search">
            <svg xmlns="http://www.w3.org/2000/svg" width="10rem" height="10rem" fill="currentColor"
                 class="bi bi-search"
                 viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
            </svg>
            <h3><b>We didn't find any results for your search: "{{ request.GET.q }}".</b></h3>
            <p>To find what you need, simply check the spelling of your typed search and try again.</p>
            <a href="javascript:history.go(-1)" class="btn btn-outline-blue">
                GO BACK?
            </a>

        </div>
        {% endif %}
    </div><!--/products-->

    <style>
        @media only screen and (max-width: 1000px){
            .phone_size{
                display: none;
            }
        }
    </style>
</section>

{% endblock %}